
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100vh;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    